{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_formhelpers.html" import render_field, structure, structure2 %}

{% block app_content %}
  <!-- BEGIN 2nd JSmol -->
  <script>
    jmol2_isReady = function(applet) {
      Jmol._getElement(applet, "appletdiv").style.border="1px solid lightgray";
      Jmol.script(jmolApplet1, "set displaycellparameters false;");
      Jmol.script(jmolApplet1, "load struct2/cif { 1 1 1 };");
    }
  </script>
  <!-- END 2nd JSmol -->

  <h1>Virtual X-ray Diffraction: Comparison</h1>
  <div class="row">
    <form class="form" method="post" enctype="multipart/form-data" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      <div class="col-md-3">
        {{ wtf.form_field(form.upload) }}
        {{ wtf.form_field(form.upload2) }}
        {{ wtf.form_field(form.wavelength) }}
        {{ wtf.form_field(form.res) }}
        <table>
          <tr>
            <td>{{ wtf.form_field(form.min2theta) }}</td>
            <td>{{ wtf.form_field(form.max2theta) }}</td>
          </tr>            
        </table>                    
        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
      </div>
      <div class="col-md-3">
        {{ wtf.form_field(form.shift) }}
        {{ render_field(form.method) }}
        {{ render_field(form.fwhm, "gauss-lorentz") }}
        <table>
          <tr>
            <td>{{ render_field(form.u, "voigt") }}</td>
            <td>{{ render_field(form.v, "voigt") }}</td>
          </tr>
          <tr>
            <td>{{ render_field(form.w, "voigt") }}</td>
            <td>{{ render_field(form.a, "voigt") }}</td>
          </tr>
          <tr>
            <td>{{ render_field(form.eta_h, "voigt") }}</td>
            <td>{{ render_field(form.eta_l, "voigt") }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        {% if jsmol %}
          {{ structure() }}
        {% endif %}
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% if plot %}
        {{ plot|safe }}
      {% endif %}
    </div>
    <div class="col-md-6">
      {% if jsmol %}
        {{ structure2() }}
      {% endif %}
    </div>
  </div>
{% endblock %}
