{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>VXRD: X-ray Diffraction Visualizer (Single)</h1>
    <div class="row">
        <form class="form" method="post" enctype="multipart/form-data" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            
            <div class="col-md-3">
                {{ wtf.form_field(form.upload) }}
                {{ wtf.form_field(form.wavelength) }}
                {{ wtf.form_field(form.res) }}
            </div>
            <div class="col-md-3">
                {{ wtf.form_field(form.min2theta) }}
                {{ wtf.form_field(form.max2theta) }}
                {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
            </div>
            <div class="col-md-3">
                {{ wtf.form_field(form.method) }}
                {{ wtf.form_field(form.fwhm) }}
                {{ wtf.form_field(form.u) }}
                {{ wtf.form_field(form.v) }}
            </div>
            <div class="col-md-3">
                {{ wtf.form_field(form.w) }}
                {{ wtf.form_field(form.a) }}
                {{ wtf.form_field(form.eta_h) }}
                {{ wtf.form_field(form.eta_l) }}
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if plot %}
                {{ plot|safe }}
            {% endif %}
        </div>
    </div>
{% endblock %}
