{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>VXRD: X-ray Diffraction Visualizer</h1>
    <h3></h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-8">
            {% if jsmol %}
                <h2>[JSmol Visualizer Here]</h2>
            {% endif %}

            {% if plot %}
                {{ plot|safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if plot %}
                <!-- {{ plot|safe }} -->
            {% endif %}
        </div>
    </div>
{% endblock %}
